---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Refactoring UI</title>
	</head>
	<body class="max-w-3xl mx-auto p-10 bg-[url('/img/head.png')] text-white bg-cover">
		<div class="bg-slate-100 bg-opacity-10 p-10 rounded-lg">
		<h1 class="font-bold text-4xl">Refactoring UI</h1>
		<p class="pt-8">Exercises</p>
		<ul class="list-disc space-y-2">
			<li><a href="/start-with-a-feature-not-a-layout" class="underline">Start with a feature not a layout</a> - Page 7</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		</div>
	</body>
</html>
